body {
  font-family: 'Space Mono', monospace;
  color: #3B3C42;
  background-color: #F9F6F0 ;
}

h2 {
  font-size: large;
  font-weight: bold;
}

.logo {
  cursor: pointer;
  width: 20px;
  margin-top: 10px;
  height: 20px;
  display: inline-block;
  padding: 0px 20px;  
  border: none !important;
}

li, a {
  font-weight: 500;
  font-size: 16px;
  color: #3B3C42;
  text-decoration: none;
}

header {
  color: #3B3C42;
  opacity: 0.9;
  width: 100%;
  height: 20%;
}

.nav {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav li {
  display: inline-block;
  padding: 0px 20px;  
}

.nav li a {
  transition: all 0.3s ease 0s;
}

.nav li a:hover {
  background-color: #A9C9D1;
  color: #3B3C42;
}

.title {
  height: 400px;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  color: #3B3C42;
  font-size: 200%;
  letter-spacing: 1px;
  text-align: center;
  background-image: url('../images/bighouse.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.title h1:hover {
  font-weight: bold;
  font-size: 40px;
}

h5 {
  text-align: right !important;
  margin-right: 10px;
}

.intro {
  color: #3B3C42;
  padding: 20px;
}

h1 {
  font-size: 32px;
  color: #3B3C42;
  text-align: center;
}

p {
  font-size: 14px;
  padding: 10px 0;
  line-height: 1.5;
}

a:hover {
  color: #A9C9D1;
}

img {
  width: 200px;
  height: auto;
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: #F9F6F0;
  color: #3B3C42;
  margin: 10px;
}


/* WELLNESS */
.meditation {
  margin-top: 20px;
  margin-bottom: 20px;
}
.title-wellness {
  height: 400px;
  width: 100%;
  color: #3B3C42;
  font-size: 200%;
  letter-spacing: 1px;
  background-image: url('../images/plant.jpg');
  background-repeat: no-repeat;
  background-color: white;
}

.title-wellness h1 {
  text-align: center;
  padding-top: 3%;
}

.mental-health {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

.meditation h2{
  text-align: center;
  color: #444;
  font-size: large;
}

.meditation-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  justify-items: center;
  align-items: center;
  object-fit: cover;
  column-gap: 20px;
}

.meditation-p {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 5%;
  margin-right: 5%;
  column-gap: 20px;
  justify-items: center;
}

.meditation-photos img {
  width: 100%;
  height: 180px;
}

.meditation-photos p {
  text-align: left;
}

.hiking-content {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.hiking {
  background-color: #A9C9D1;
  width: 100%;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hiking p {
  margin: 10px;
}

.sports {
  background-color: #C4A378;
  width: 100%;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.friends {
  margin-top: 20px;
  margin-bottom: 20px;
}

.friends-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
  column-gap: 20px;
  justify-items: center;
}

.friends p {
  margin: 10px;
}

/* FOOD */
.title-food {
  height: 400px;
  width: 100%;
  color: #444;
  font-size: 200%;
  letter-spacing: 1px;
  background-image: url('../images/grocerybag.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.title-food h1 {
  text-align: center;
  padding-top: 3%;
}

.eating {
  width: 100%;
  height: 500px;
  background-color: #A9C9D1;
}

.eating-pics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 5%;
  margin-right: 5%;
  column-gap: 20px;
  justify-items: center;
  margin-bottom: 5px;
}

.grocery-pics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 5%;
  margin-right: 5%;
  column-gap: 20px;
  justify-items: center;
}

.cooking {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cooking-pics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 5%;
  margin-right: 5%;
  column-gap: 20px;
  justify-items: center;
}

.groceries h2{
  text-align: center;
}


/* EDUCATION */
.title-education {
  height: 400px;
  width: 100%;
  color: #444;
  font-size: 200%;
  letter-spacing: 1px;
  background-image: url('../images/paper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.title-education h1 {
  text-align: center;
  padding-top: 3%;
}

.school {
  display: block;
  padding: 20px;
}

.planner {
  display: block;
  padding: 20px;
}

.planner-img img{
  width: 100% !important;
  height: 200px;
  object-fit: cover;
}

.planner-img {
  margin-bottom: 10px;
}

.classes {
  width: 100%;
  background-color: #A9C9D1;
  height: 350px;
}

.classes h2 {
  text-align: center;
  padding: 10px;
}

.michigan-classes {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.classes img {
  height: 300px;
  object-fit: cover;
}

/* Form */
form {
  border: 3px solid #f1f1f1;
  margin: 10px;
}

legend { 
  font-size: 100%;
  font-style:bold;
  text-transform: none;
  text-align: center;
}

label {
  display: inline-block;
  margin-right:10px;
  width:15%;
}

input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

span {
  margin-left:20%;
  font-family: italic;
  font-weight: bold;
}

textarea {
  width: 100%;
  height: 10vh;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #A9C9D1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 50px;
}

input[type=submit]:hover {
  opacity: 0.8;
}

@media only screen and (max-device-width: 500px) {
  body {
    width: 100%;
  }
  .title-education {
    height: 200px;
  }
  input[type=submit] {
    width: 100%;
  }
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .nav {
    width: 100%;
    text-size-adjust: auto;
  }


}